
<div class="container">
<div class="row">
    <div class="col-12">
        <h2>EA-17</h2>

        <property-app></property-app>
















<!-- <app-child-one></app-child-one> -->
<!-- <app-child-two></app-child-two> -->
<!-- <app-child-three></app-child-three>

<app-child-four></app-child-four>
<app-child-five></app-child-five>
<app-child-six></app-child-six>
<app-child-seven></app-child-seven>
<app-child-eight></app-child-eight>
<app-child-nine></app-child-nine>
<app-child-ten></app-child-ten>
<app-child-eleven></app-child-eleven>
<app-child-twelve></app-child-twelve>
<app-child-thriteen></app-child-thriteen> --> 
<!-- <app-like [isLiked] ="myPost.isLiked" (emitMyCustomEvent)= "catchEventFromChild($event)"></app-like>
    </div>
     <app-card *ngFor= "let card of cardArr">
        <ng-container class="card-content">
            <h5>{{card.title}}</h5>
            <p class="card-text">
            {{card.desription}}
            </p>
        </ng-container>
        <ng-container class="card-date">
            <p class="small">{{card.postDate | date: 'medium' |lowercase}}</p>

        </ng-container>
    </app-card> -->
    <!-- <app-card-two [isLikedTwo]= "myPostTwo.isLikedTwo" (emitEvnetCustomTwo) = "catchEventFromChildTwo($event)" ></app-card-two> -->
    <!-- <app-card-three>
        <h5>My Card</h5>
        <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos vel asperiores voluptates, officia et deleniti mollitia, impedit dolor, minima tempora libero placeat repudiandae cupiditate minus expedita quo veritatis est reprehenderit!
        </p>
        

    </app-card-three>
    <img src="https://c.ndtvimg.com/2022-09/csj66om4_virat-kohli-afp_640x480_11_September_22.jpg" class="mt-5" alt=""> 

</div>
</div>
</div>

<app-child-four></app-child-four>

<app-child-six></app-child-six> -->